* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Navigation a {
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    color: #2D5661;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 25px;
    margin: 0 10px;

}

.Navigation a:hover, 
.Navigation a.active{
    background: rgb(100, 106, 131);
    color: #ffffff;
    
}

body {
    background-size:content;
    background-color: #cccccc;
    background-repeat: no-repeat;
    
}

header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2D5661;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
}

.Aboutpage {
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
   
}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}

.Aboutpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#mark {
    text-align: center;
    font-size: 50px;
    color: #2D5661;
    padding: 2px;
    padding-top: 110px;
    padding-bottom: 0;
    margin-bottom: 10px;

}

#page1 {
    background-image: url(backgroundforfinals.jpeg);
    background-size: cover;

}

#page1 p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #000000 ;
    font-weight: 400;
    margin-left: 70px;
    margin-right: 70px;
    
}

#myimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: 10px;
    width: 200px;
    height: 200px; 
    filter: drop-shadow(10px 10px 10px #ffffff); 
}

/* Main-footer edit */
.footer-section{
    background-image: url(footer-cover-2.jpg);
    background-size: cover;
    height: 120px;
    bottom: 0;
}


.footer-icons {
    padding-top: 55px;
    font-size: x-large;
}

.footer-icons a {
    color: rgb(242, 244, 212);
    padding-top: 100px;
    margin-left: 95px;
    margin-right: 100px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(23, 37, 14);
    -webkit-text-stroke-width: thin;
}