
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation Edit */

.Navigation a {
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    color: #2D5661;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 25px;
    margin: 0 10px;

}

.Navigation a:hover, 
.Navigation a.active{
    background: rgb(100, 106, 131);
    color: #ffffff;
    
}

/* the main dudes for the edit */

body {
    background-image: url(Violet-section3.jpg);
    background-size:cover;
    background-color: #cccccc;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2D5661;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;

}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}

.tabpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* page 1 edit */

#tab1 {
    background-image: url(Violet-section3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    color: #2D5661;
}

#intro {
    padding-top: 150px;
    font-size: 35px;
    text-align: center;
    justify-content: center;

}

#introdd, h5 {
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
}

/* page 2 edit */

#tab2 {
    background-image: url(tabpage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#tab2-h1 {
    padding-top: 110px;
    padding-left: 171px;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    color: #2D5661;
    font-size: 35px;
}

.tab2container {
    align-items: center;

}

#tab2-sample {
    margin-left: 340px;
    margin-top: 40px;
    float: left;
    min-width: 340px;
    min-height: 470px;
}

#tab2-dd {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-top: 60px;
    letter-spacing: 1.4px;
    float: right;
    text-align: left;
    color: #2D5661;
}

/* page 3 edit */

#tab3 {
    background-image: url(tabpage3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#tab3-h1 {
    padding-top: 110px;
    padding-left: 171px;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    color: #2D5661;
    font-size: 35px;
}

.tab3container {
    align-items: center;
}

#tab3-sample {
    margin-left: 340px;
    margin-top: 40px;
    float: left;
    min-width: 340px;
    min-height: 470px;
}

#download_2 {
    padding-right: 470px;
    text-align: center;
    float: right;
    text-decoration: none;
    color: black;
}

#tab3-dd {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding-right: 300px;
    padding-bottom: 100px;
    padding-top: 60px;
    letter-spacing: 1.4px;
    float: right;
    text-align: left;
    color: #2D5661;
}

/* Main-footer edit */
.footer-section{
    background-image: url(footer-cover-2.jpg);
    background-size: cover;
    height: 120px;
    bottom: 0;
}


.footer-icons {
    padding-top: 55px;
    font-size: x-large;
}

.footer-icons a {
    color: rgb(242, 244, 212);
    padding-top: 100px;
    margin-left: 95px;
    margin-right: 100px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(23, 37, 14);
    -webkit-text-stroke-width: thin;
}